* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.background{
  background-image: url('../../assets/BG_DetailedStatus.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display:flexbox;
  
}
  